.App{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 600px;
    margin-left: 70px;
    margin-top: 80px;
}

.footer {
    margin-left:50%;
    text-align: center;
    color:#888;
    font-size:14px;
}

