.BonusType{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: #82ffc9;
    border-style: solid;
    border-width: 2px;
}

.Button {


}

.BonusAmount{

}

.Counter{

}